body {
    background-color: lightblue;
    user-select: none;
}

.Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid gap: 4px;
    background-color: blue;
    padding 4px;
    border-radius: 5px;
    max-width: 360px;
    font-family: "Tahoma";
}